@import "partials/setup.scss";
@import "partials/utils.scss";
@import "partials/typography.scss";

/*
============================================================
GENERAL STYLING
============================================================
*/

//insert code here, between partials above and media-queries below
h1 {
  color: red;
}

li {
  width: 80%;
  text-align: center;
  display: block;
  background-color: lightblue;
  border: 1px solid black;
}

#drag-container {
  height: 10vh;
  width: 10vw;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

ul {
  text-align: center;
  width: 100%;
  padding: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

/*
============================================================
WELCOME SECTION
============================================================
*/

/*
============================================================
MEDIA QUERIES
============================================================
*/
@import "partials/media-queries.scss";
