.criterias {
  width: 100%;
  background: $color-3 url(../../assets/road-cropped.jpg) center no-repeat fixed;
  background-size: cover;
  display: none;
}

.criterias-container {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  height: 100vh;
}

.criteria-header {
  text-align: center;
  margin: 0 0 5rem 0;
  padding: 0rem;
  padding-top: 8rem;
  width: 80%;
}

.choices-list-container {
  position: relative;
  width: 60%;
}

.choices {
  text-align: center;
  width: 100%;
  padding: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
}

.choices li:last-child {
  list-style: none;
}

.criteria {
  width: 100%;
  font-size: 1.8rem;
  padding: 0.5em;
  text-align: center;
  display: block;
  background-image: linear-gradient(to top, rgba($color-6, 0.7), $color-6);
  border: 1px solid $color-1;
  border-radius: 3px;
  color: $color-1;
  margin-bottom: 2%;
  box-shadow: 0px 1px 1px $color-1;
  transition: all 0.3s;

  &:hover {
    background-image: linear-gradient(to bottom, rgba($color-6, 0.7), $color-6);
  }
}

.user-submit {
  margin-top: 4rem;
  font-size: 2rem;
  padding: 1.5rem 4rem;
  border: 0;
  border-radius: 2px;
  background-color: $color-2;
}

.btn {
  color: $color-1;
  font-size: 2rem;
  padding: 1.5rem 4rem;
  border: 0;
  border-radius: 2px;
  box-shadow: 0px 17px 10px -10px rgba(0, 0, 0, 0.4);
  position: relative;
  transition: 0.3s;
  background: $color-5;
  background-size: 200% 100%;
  background-position: right bottom;

  &:after {
    content: "\2794";
    font-size: 3.5rem;
    position: absolute;
    top: 4.5px;
    opacity: 0;
    right: -3px;
    transition: 0.3s;
  }

  &:hover {
    padding-right: 50px;
    padding-left: 30px;
    color: $color-1;
    background-position: left bottom;
  }

  &:hover:after {
    opacity: 1;
    right: 17px;
    top: 4.5px;
  }
}

.loader {
  margin: 2rem;
}
