a,
a:visited {
  color: $color-4;
  transition: 0.3s;

  &:hover {
    transition: 0.3s;
    color: $color-5;
  }
}

.wrapper-prim {
  max-width: 1920px;
  margin: 0 auto;
}

.wrapper-sec {
  max-width: 1000px;
  margin: 0 auto;
}

.background {
  width: 100%;
  height: 100vh;
  background: linear-gradient(to bottom, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0)),
    url(../../assets/road-cropped.jpg) center no-repeat fixed;
  background-size: cover;
}

li {
  list-style: none;
}

button,
.travel-form__button-container,
.criteria {
  cursor: pointer;
}

.display-none {
  display: none;
}
