.welcome {
  height: 100vh;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  &__logo-container {
    width: 100px;
    margin-bottom: 55px;
    margin-top: 145px;
    &__logo {
      display: block;
      width: 100%;
    }
  }
  &__content {
    text-align: left;
    color: $color-4;
  }
  &__header {
    width: 100%;
  }
  &__message {
    font-size: 2.2rem;
    line-height: 3.3rem;
    width: 69%;
    margin: 1rem 0 3rem 0;
  }
  &__button {
    margin-top: 12px;
  }

  h1 {
    margin: 0;
  }

  h4 {
    font-size: 1.6rem;
  }
}
