// Set up styling for flickity (1 country card at a time)
@media all and (max-width: 1100px) {
  .wrapper-sec {
    width: 80%;
  }

  .welcome {
    &__logo-container {
      margin-top: 150px;
    }
  }

  .country-name {
    margin-bottom: 2rem;
  }

  .card {
    width: 60%;
  }

  .stat-list {
    margin: 2.5rem 0;
  }

  .results {
    flex-wrap: wrap;
  }

  .result-container {
    width: 100%;
    height: 100vh;
  }

  .country-image-container {
    width: 60%;
  }

  .flickity-button {
    display: block;
  }
}

// Reduce general size of purpose icons
@media all and (max-width: 800px) {
  .travel-form {
    &__button-container {
      width: 16rem;
      height: 16rem;
    }
  }

  .criteria-header {
    font-size: 3rem;
  }
}

// Reduce top margin for user submit button
@media all and (max-height: 800px) {
  .user-submit {
    margin-top: 2rem;
  }
}

// Adjust margin spacing
@media all and (max-height: 650px) {
  .welcome {
    &__logo-container {
      margin-top: 25%;
    }
  }

  .criteria-header {
    padding-top: 4rem;
    width: 100%;
    margin-bottom: 3rem;
  }
}

// Adjust margin spacing in relation to high
@media all and (max-height: 600px) {
  .welcome {
    &__logo-container {
      margin-top: 15%;
    }
  }

  .travel-form {
    &__button-container {
      width: 15rem;
      height: 15rem;
    }
  }

  .criteria-header {
    padding-top: 4rem;
    width: 100%;
    margin-bottom: 2rem;
  }

  .user-submit {
    margin-top: 1.5rem;
  }
}

// Center header due to smaller screen sizes
@media all and (max-width: 650px) {
  .welcome {
    &__content {
      display: flex;
      flex-direction: column;
      align-items: center;
    }

    &__message {
      width: 90%;
    }

    &__header,
    &__message {
      text-align: center;
    }

    &__header {
      font-size: 5rem;
    }
  }

  // decrease size of purpose icons
  .travel-form {
    &__button-container {
      width: 14rem;
      height: 14rem;
      flex: 1 0 25%;

      h3 {
        font-size: 1.8rem;
      }
    }
  }

  .icon-image-container {
    height: 5rem;
    width: 5rem;
  }

  .criteria-header {
    font-size: 2.5rem;
    width: 100%;
  }

  .choices-list-container {
    width: 70%;
  }

  .card {
    width: 100%;
  }

  .wiki-text {
    padding: 0 1rem;
  }

  .country-image-container {
    width: 80%;
  }
}

// Rearrange purpose icons for mobile (all taking 100% of width)
@media all and (max-width: 500px) {
  html {
    font-size: 57.5%;
  }

  .welcome {
    &__message {
      font-size: 2rem;
    }
  }

  .purpose-header {
    font-size: 2.7rem;
  }

  .travel-form {
    &__button-container {
      height: 7rem;
      flex: 1 0 100%;
      flex-direction: row;
      justify-content: space-around;

      h3 {
        font-size: 1.8rem;
        flex: 0 0 50%;
      }
    }
  }

  .icon-image-container {
    flex: 0 0 25%;
  }

  .choices-list-container {
    width: 80%;
  }

  .flickity-button {
    width: 25px;
    height: 25px;
  }
}

// Margin spacing adjustment
@media all and (max-height: 550px) {
  .purpose-header {
    font-size: 2.5rem;
  }
  .travel-form {
    &__button-container {
      height: 5.5rem;
    }
  }
}

// General font decrease and flickity button adjustment
@media all and (max-width: 400px) {
  html {
    font-size: 52.5%;
  }

  .welcome {
    &__message {
      font-size: 2rem;
    }
  }

  .criteria-header {
    font-size: 2.2rem;
  }
  .flickity-button {
    width: 25px;
    height: 25px;
    position: absolute;
    top: 5%;
  }
}
