.purpose-section {
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: $color-3;
}

.purpose-container {
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
}

.purpose-header {
  margin: 0;
  text-align: center;
}

.travel-form {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;

  &__button-container {
    background-color: $color-2;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    border-radius: 5px;
    border: 1px solid $color-1;
    margin: 1%;
    width: 20rem;
    height: 20rem;
    box-shadow: 0px 17px 10px -10px rgba(0, 0, 0, 0.5);
    transition: 0.3s;

    &:hover {
      background-color: rgba($color-1, 0.9);
      color: $color-2;
      padding: 1.5rem;

      .svg,
      .svg path {
        fill: $color-2;
      }
    }

    h3 {
      margin: 0;
      text-transform: uppercase;
    }
  }
}

.icon-image-container {
  width: 8rem;
  height: 8rem;
  display: flex;
  justify-content: center;
  align-items: center;

  img {
    display: block;
    width: 100%;
    height: 100%;
  }
}

.svg,
.svg path {
  width: 100%;
  height: 100%;
}

input[type="radio"] {
  display: none;
}
