html {
  font-family: $primary-font;
  font-size: 62.5%;
  
}

body {
  color: $font-color-1;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: $primary-font;
}

h1 {
  font-size: 5rem;
}

h2 {
  font-size: 3.5rem;
}

h3 {
  font-size: 2rem;
}

p {
  font-size: 1.5rem;
  font-family: $secondary-font;
}
