/* FONT-FAMILY */
$primary-font: "Lora", serif;
$secondary-font: "Roboto", sans-serif;

/* COLORS */
$color-1: #282828;
$color-2: #a5b452;
$color-3: #e2dbaa;
$color-4: #f2f2f2;

/* FONT-SIZES */
$font-size-1: 8rem;
$font-size-2: 4.6rem;

/* FONT-COLORS*/
$background-color-1: #ffffff;
$background-color-2: #96ceb4;
